body,
html {
    height: 100%;
    margin: 0;
    background-color: rgb(201, 177, 131);
}

.background {
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#background-image {
    background-image: url(images/Endscreen.svg);
}

#zeit {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 400%;
    left: 68%;
    top: 71.5%;
}

#prof {
    z-index: 7;
    width: 12%;
    top: 30%;
    left: 40%;
}