body,
html {
    height: 100%;
    margin: 0;
    background-color: rgb(201, 177, 131);
    overflow: hidden;
}

.background {
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#prof {
    height: 10%;
    width: 10%;
}

.t {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 400%;
    margin: 2%;
}

.container {
    position: relative;
}

.again {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.inner {
    display: inline-block;
}

.l {
    font-size: 300%;
}