body {
    background-color: rgb(77, 77, 77);
}

#background-image {
    background-image: url(images/Escaperoom\ 16_9.svg);
}

#spielautomat {
    z-index: 2;
    width: 17%;
    top: 45%;
    left: 25%;
}

#symbole {
    z-index: 2;
    width: 9%;
    top: 51%;
    left: 26.65%;
    z-index: 1;
    background-color: white;
}

#glücksrad {
    z-index: 5;
    width: 15%;
    top: 48%;
    left: 65%;
}

#würfel {
    z-index: 4;
    width: 5%;
    top: 85%;
    left: 30%;
}

#beutel {
    z-index: 5;
    width: 15%;
    top: 74%;
    left: 80%;
}

#glücksrad-pin {
    z-index: 8;
    width: 2%;
    top: 46%;
    left: 71.25%;
}

#glücksrad-beine {
    z-index: 4;
    width: 15%;
    top: 66%;
    left: 65%;
}

#tür {
    background-color: black;
    z-index: 11;
    width: 12.5%;
    top: 41%;
    left: 45%;
}

#türschloss {
    z-index: 12;
    width: 7.5%;
    left: 52%;
    top: 55%;
}

#kasten {
    z-index: 12;
    width: 10%;
    top: 38%;
    left: 58%;
}

#Sicherungskasten {
    display: none;
}

#tresor {
    z-index: 13;
    width: 10%;
    left: 20%;
    top: 25%;
}

#hintergrund {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    background-image: url("images/Sicherungskasten.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#inner {
    position: absolute;
    top: 65%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    padding-left: 30%;
}

.switch {
    border: none;
    background: none;
    width: 10%;
    height: 75%;
}

.sicherungsbutton {
    width: 100%;
    height: 100%;
}

.color-plate {
    border: 5px solid black;
    aspect-ratio: 1 / 1;
    width: 20%;
    display: inline-block;
    margin: 2%;
    background-color: green;
}

#tresor-div {
    display: none;
    border: 5px solid black;
    background-color: gray;
    border-radius: 3px;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    height: 65%;
    justify-content: center;
    align-items: center;
}

#tresor-inner {
    display: flex;
    float: left;
    height: 50%;
    width: 100%;
}

.sicherungsbutton:hover {
    cursor: pointer;
}

#output {
    border: 3px solid black;
}

#code-light {
    background-color: red;
    border-radius: 50%;
    border: 10px solid black;
    width: 60px;
    height: 60px;
    margin-top: 2.5%;
    margin-bottom: 7.5%;
}

#light-wrapper {
    display: grid;
    place-items: center;
}