#background-image {
    background-image: url(images/Escaperoom\ 16_9.svg);
}

#spielautomat {
    z-index: 2;
    width: 17%;
    top: 45%;
    left:25%
}
#symbole {
    z-index: 2;
    width: 9%;
    top: 51%;
    left: 26.65%;
    z-index:1
}

#glücksrad {
    z-index: 5;
    width: 15%;
    top: 48%;
    left: 65%;
}

#würfel {
    z-index: 4;
    width: 5%;
    top: 85%;
    left: 75%;
}

#glücksrad-beine {
    z-index: 4;
    width: 15%;
    top: 66%;
    left: 65%;
}