body,
html {
    height: 100%;
    margin: 0;
    background-color: rgb(201, 177, 131);
}

.background {
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}

#background-image {
    background-image: url(images/Deckblatt\ \(1\).svg);
}

img {
    width: 100%;
    height: 100%;
}

#play {
    position: absolute;
    border: none;
    background: none;
    left: 35%;
    top: 65%;
    width: 30%;
}

#play:hover {
    cursor: pointer;
}