body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    position: relative;
    background-image: url("Escaperoom.svg");
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
}

.no-distance {
    margin: 0;
    padding: 0;
}