body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    background-image: url("images/Escaperoom\ 16\ 9..svg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
<<<<<<< Updated upstream
    background-size: cover;
    
=======
    background-size: 100%;
>>>>>>> Stashed changes
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no-distance {
    margin: 0;
    padding: 0;
}

#code-pad {
    display: none;
    width: auto;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    justify-content: center;
}

#learningapps {
    display: none;
    border: 5px solid black;
    border-radius: 3px;
    width:70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    height: 65%;
}   

#gl端cksrad {
    width: 5%;
    top: 90%;
}

#t端r {
    width: 17%;
    left: 57%;
    top: 28%;
}

#tisch {
    width: 26%;
    left: 18%;
    top: 55%;
}

#lampe {
    width: 17%;
    left: 37%;
}

.object-image {
    width: 100%;
    height: 100%;
}

#t端rschloss {
    width: 5%;
    left: 75%;
    top: 50%;
}

#t端rschloss:hover {
    width: 6%;
}

#zettel {
    width: 17%;
    left: 18%;
    top: 30%;
}

#regal {
    width: 20%;
    left: 37%;
    top: 25%;
}

.learningapps iframe {
    height: 100%;
    margin: 0;
}

.room-object {
    position: absolute;
    z-index: 8;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

